html{
  margin: 0px;
}

.floating{
  animation: floating 5s alternate infinite
}

@keyframes floating {
  0% {transform: translateY(0px)}
  100% {transform: translateY(10px)}
}

::selection {
  background-color: rgb(16, 239, 87);
  color: rgb(0, 0, 0);
}

    @font-face {
        font-family: 'Disket';
        src: url('/Disket-Mono-Regular.ttf') format('opentype')
    }

@font-face {
        font-family: 'Roxborough';
        src: url('/Roxborough\ CF.ttf') format('opentype')
    }